<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,412},{231,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{231,208}</string>
            </dict>
            <key>bonus_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,212},{184,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,182}}</string>
                <key>sourceSize</key>
                <string>{184,182}</string>
            </dict>
            <key>box_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,0},{210,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,86}}</string>
                <key>sourceSize</key>
                <string>{210,86}</string>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,212},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,212},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>btn_giam.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>btn_quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,212},{205,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,197}}</string>
                <key>sourceSize</key>
                <string>{205,197}</string>
            </dict>
            <key>btn_quaynhanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>btn_quaynhanh_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,88},{167,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,116}}</string>
                <key>sourceSize</key>
                <string>{167,116}</string>
            </dict>
            <key>btn_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,0},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>btn_tudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,88},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>btn_tudong_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,88},{167,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,116}}</string>
                <key>sourceSize</key>
                <string>{167,116}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,88},{167,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,118}}</string>
                <key>sourceSize</key>
                <string>{167,118}</string>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,88},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,88},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_vinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,212},{240,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,172}}</string>
                <key>sourceSize</key>
                <string>{240,172}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,212},{163,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,180}}</string>
                <key>sourceSize</key>
                <string>{163,180}</string>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,212},{163,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,200}}</string>
                <key>sourceSize</key>
                <string>{163,200}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,212},{234,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,198}}</string>
                <key>sourceSize</key>
                <string>{234,198}</string>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,412},{233,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,212}}</string>
                <key>sourceSize</key>
                <string>{233,212}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,412},{282,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,233}}</string>
                <key>sourceSize</key>
                <string>{282,233}</string>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,645},{280,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,243}}</string>
                <key>sourceSize</key>
                <string>{280,243}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,412},{282,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,233}}</string>
                <key>sourceSize</key>
                <string>{282,233}</string>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,645},{280,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,243}}</string>
                <key>sourceSize</key>
                <string>{280,243}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,645},{283,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,233}}</string>
                <key>sourceSize</key>
                <string>{283,233}</string>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,645},{281,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,243}}</string>
                <key>sourceSize</key>
                <string>{281,243}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,645},{283,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,233}}</string>
                <key>sourceSize</key>
                <string>{283,233}</string>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,645},{281,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,243}}</string>
                <key>sourceSize</key>
                <string>{281,243}</string>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,645},{257,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,237}}</string>
                <key>sourceSize</key>
                <string>{257,237}</string>
            </dict>
            <key>jackpot_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,412},{206,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,205}}</string>
                <key>sourceSize</key>
                <string>{206,205}</string>
            </dict>
            <key>muccuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,88},{196,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,118}}</string>
                <key>sourceSize</key>
                <string>{196,118}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,412},{282,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,231}}</string>
                <key>sourceSize</key>
                <string>{282,231}</string>
            </dict>
            <key>scatter_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{226,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,201}}</string>
                <key>sourceSize</key>
                <string>{226,201}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{309,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,60}}</string>
                <key>sourceSize</key>
                <string>{309,60}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{320,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,75}}</string>
                <key>sourceSize</key>
                <string>{320,75}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,0},{324,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,81}}</string>
                <key>sourceSize</key>
                <string>{324,81}</string>
            </dict>
            <key>title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,0},{227,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,71}}</string>
                <key>sourceSize</key>
                <string>{227,71}</string>
            </dict>
            <key>tongcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,88},{230,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,124}}</string>
                <key>sourceSize</key>
                <string>{230,124}</string>
            </dict>
            <key>tongthang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,88},{295,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,124}}</string>
                <key>sourceSize</key>
                <string>{295,124}</string>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,412},{245,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,228}}</string>
                <key>sourceSize</key>
                <string>{245,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_main.png</string>
            <key>size</key>
            <string>{1987,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc1f4aa50033b462520c2f2de6bbf216:b8286278413e170df1692aa950fccae6:6973c62654cc7a6e82ba66fef5fe96f0$</string>
            <key>textureFileName</key>
            <string>ui_main.png</string>
        </dict>
    </dict>
</plist>
